#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     stdout format raw local0
    option                  httplog
    retries                 3
    timeout http-request    30s
    timeout queue           3m
    timeout connect         3s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 60s
    timeout check           5s
    maxconn                 20000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend http-in
    bind *:80

    option forwardfor except 127.0.0.0/8

    default_backend gw-dashboard

    acl is_root path /

    acl path_web_acc  path  -i -m beg /web/account
    acl path_web_org  path  -i -m beg /web/organization
    acl path_web_fam  path  -i -m beg /web/family

    acl path_was_org  path  -i -m beg /api/organization
    acl path_was_fam  path  -i -m beg /api/family

    acl host_gw hdr(host)           -i gw.ikare.link
    acl host_gw_sandbox hdr(host)   -i gw-sandbox.ikare.link
    acl host_gw_dashboard hdr(host) -i gw-dashboard.ikare.link

    http-request redirect code 301 location https://%[hdr(host)]/web/account if host_gw is_root || host_gw_sandbox is_root

    # DEV
    use_backend web-account-dev       if host_gw_sandbox path_web_acc
    use_backend web-organization-dev  if host_gw_sandbox path_web_org
    use_backend web-family-dev        if host_gw_sandbox path_web_fam
    
    use_backend was-organization-dev  if host_gw_sandbox path_was_org
    use_backend was-family-dev        if host_gw_sandbox path_was_fam

    # PROD
    use_backend web-account-dev       if host_gw path_web_acc
    use_backend web-family            if host_gw path_web_fam
    use_backend web-organization      if host_gw path_web_org

    # use_backend gw-service          if host_gw || host_gw_sandbox
    use_backend gw-dashboard        if host_gw_dashboard
    
#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------

# WEB DEV
backend web-account-dev
    balance roundrobin

    server web  account-web-dev:80        check inter 1s fastinter 500ms rise 1 fall 1 weight 1

backend web-organization-dev
    balance roundrobin

    server web  organization-web-dev:80   check inter 1s fastinter 500ms rise 1 fall 1 weight 1

backend web-family-dev
    balance roundrobin

    server web  family-web-dev:80         check inter 1s fastinter 500ms rise 1 fall 1 weight 1

# WAS DEV
backend was-organization-dev
    balance roundrobin
    server was1   3.36.98.156:48081     check inter 1s fastinter 500ms rise 1 fall 1 weight 1
    server was2   54.180.1.197:48081    check inter 1s fastinter 500ms rise 1 fall 1 weight 1

backend was-family-dev
    balance roundrobin
    server was1   3.36.98.156:48082     check inter 1s fastinter 500ms rise 1 fall 1 weight 1
    server was2   54.180.1.197:48082    check inter 1s fastinter 500ms rise 1 fall 1 weight 1

# WEB PROD
backend web-account
    balance roundrobin
    http-request set-header X-Forwarded-Port %[dst_port]

    http-request set-header Host  ikare-account-web.pages.dev

    server cloudflare-pages   ikare-account-web.pages.dev:443   check inter 1s fastinter 500ms rise 1 fall 1 weight 1 ssl verify none

backend web-family
    http-request set-header X-Forwarded-Host gw.ikare.link
    http-request set-header X-Forwarded-Port %[dst_port]

    http-request set-header Host  ikare-family-web.pages.dev

    server cloudflare-pages       ikare-family-web.pages.dev:443            check ssl verify none

backend web-organization
    http-request set-header X-Forwarded-Host gw.ikare.link
    http-request set-header X-Forwarded-Port %[dst_port]

    http-request set-header Host  ikare-organization-web.pages.dev

    server cloudflare-pages       ikare-organization-web.pages.dev:443      check ssl verify none

# WAS PROD

backend gw-service
    balance roundrobin
    server gw-service   apisix_gateway:9080   check
backend gw-dashboard
    balance roundrobin
    server gw-dashboard apisix_dashboard:9000 check

#---------------------------------------------------------------------
# statistic
#---------------------------------------------------------------------
listen stats # "stats"라는 이름으로 listen 지정
    bind *:8000 # 접속 포트 지정
    stats enable
    stats realm Haproxy\ Statistics  # 브라우저 타이틀
    stats uri /stats  # stat 를 제공할 URI
    stats refresh 10s
    stats auth ikare:ikare@admin # 인증이 필요하면 추가한다

